#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 1em;
}

.text {
  font-size: 18px;
  font-weight: 350;
  margin-top: -30px;
  margin-bottom: 20px;
}

.select {
  color: white;
  background-color: rgba(255, 255, 255, 0.0);
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.select option {
  color: white;
  margin: 40px;
  background: #273556;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.startButton {
  color: white;
  position: absolute;
  padding: 0.3em 1.4em;
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #5ba966;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(135%, -592%);
}

.refreshButton {
  color: white;
  display: flex;
  position: absolute;
  padding: 0.3em 1.4em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #5ba966;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(555%, -590%);
}

.resourceText {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(-52%, 140%);
}

.sourceText {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(0%, -400%);
}

.periodicText {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(80%, -930%);
}

.progressText {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(167%, -200%);
}

.progressNumber {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(182%, -1440%);
}

.source {
  color: white;
  transform: translate(-5%, -160%);
}

.resource {
  color: white;
  transform: translate(-60%, 60%);
}

.periodic {
  color: white;
  transform: translate(62%, -385%);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}