#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 1em;
}

.chooseText {
  font-size: 18px;
  font-weight: 350;
  margin-top: -30px;
  margin-bottom: 20px;
}

.jobsText {
  font-size: 18px;
  font-weight: 350;
  margin-top: -30px;
  margin-bottom: 20px;
  transform: translate(-118%, 200%);
}

.instanceName {
  font-size: 22px;
  font-weight: 350;
  margin-top: 55px;
  margin-bottom: -10px;
  transform: translate(-37%, 90%);
}

.deleteText {
  font-size: 40px;
  font-weight: 350;
  margin-top: 20px;
  margin-bottom: -50px;
  transform: translate(50%, -370%);
}

.deleteIcon {
  transform: translate(10%, 15%);
}

.select {
  color: white;
  background-color: rgba(255, 255, 255, 0.0);
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.select option {
  color: white;
  margin: 40px;
  background: #273556;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.startButton {
  color: white;
  position: absolute;
  padding: 0.3em 1.4em;
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #5ba966;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(-120%, 20%);
}

.refreshButton {
  color: white;
  display: flex;
  position: absolute;
  padding: 0.3em 1.4em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #5ba966;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(260%, -590%);
}
.deleteButton {
  color: white;
  display: flex;
  position: absolute;
  padding: 0.3em 1.4em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #ac4b4b;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(600%, -530%);
}

.addNewJob {
  color: white;
  display: flex;
  position: absolute;
  padding: 0.3em 1.4em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1.5em;
  font-weight: 00;
  font-family: inherit;
  background-color: #5ba966;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(-240%, 50%);
}

.ongoing1 {
  color: white;
  display: flex;
  position: absolute;
  padding: 0.3em 1.4em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #212d49;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(250%, 50%);
}

.resourceText {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(-32%, 250%);
}

.sourceText {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(-30%, 250%);
}

.periodicText {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(-20%, 270%);
}

.progressText {
  display: flex;
  text-align: left;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(100%, -430%);
  margin-bottom: -7em;
}

.progressNumber {
  display: flex;
  color: rgb(237, 237, 237);
  font-size: 15px;
  font-weight: 350;
  transform: translate(182%, -1440%);
}

.source {
  color: white;
}

.resource {
  color: white;
}

.periodic {
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo:hover {
  filter: drop-shadow(0 0 0em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 0em #61dafbaa);
}

.text {
  font-size: 17px;
  font-weight: 350;
  margin-top: -30px;
  margin-bottom: 20px;
}

.loginForm .loginButton {
  color: white;
  position: relative;
  padding: 0.75em 7em 0.75em 5em;
  width: 10px;
  margin-top: 1.3em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 0.7em;
  font-weight: 00;
  font-family: inherit;
  background-color: #8a979e;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(0%, -10%);
}

.loginForm .loginButton:hover {
  border-color: #646cff;
}
