#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 20px;
}

.logo {
  width: auto;
  height: em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 0em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 0em #61dafbaa);
}

.ongoingText {
  text-align: left;
  font-size: 28px;
  font-weight: 550;
  margin-top: -30px;
  margin-bottom: 20px;
}

.output {
  text-align: left;
}

.ongoing {
  color: white;
  display: flex;
  position: absolute;
  padding: 0.3em 1.4em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #212d49;
  cursor: pointer;
  transition: border-color 0.25s;
  transform: translate(-150%, -140%);
}
.read-the-docs {
  color: #888;
}